body{
    background: lightgray;
    font-family: Palatino Linotype;
}
.authorization_block{
    background: whitesmoke;
    font-size: 50px;
    border-radius: 5px;
    width: 50%;
    height: 60%;
    margin: 5% auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
}
.label_input_block{
    display: inline-block;
    font-size: xx-large;
}
.text_input_block{
    width: 60%;
    height: 15%;
    border-radius: 10px;
    font-size: 70px;
    padding: 20px;

}

.button_authorization{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    float: right;
    bottom: 60%;
    font-size: 20px;
    font-family: inherit;
    margin: 20px;
}
.authorization_block .authorization_block_error{
    position: relative;
    color: orangered;
    font-size: 20px;
    margin-top: 25px;
}

.header_lk{
    position: absolute;
    height: 10%;
    width: 100%;
    background: darkslategray;
    right: 0%;
    top: 0%;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}

.menu_lk{
    position: absolute;
    height: 85%;
    width: 20%;
    top: 10%;
    left: 0%;
    background: darkgray;
    padding: 20px 30px;
}

.footer_lk{
    position: absolute;
    height: 3%;
    width: 100%;
    top: 97%;
    left: 0%;
    font-size: 20px;
    background: darkslategray;
}

.menu_title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #b99d61;
}

.menu_list {
    padding: 0;
    list-style: none;
}

.menu_list a:before {
    content: "\2014";
    margin-right: 14px;
}

.menu_list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0;
    letter-spacing: 1px;
    font-weight: 300;
    color: #444;
    transition: .3s linear;
}

.menu_list a:hover {color: #b99d61;}

.general_block{
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: 30px;
    width: 75%;
}

.general_block img{
    position: fixed;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.general_block .info_table{
    width: 80%;
    height: 100%;
    table-layout: fixed;
}

.general_block .general_td{
    font-size: 30px;
    width: 30%;
}

.general_block .delimiter_col{
    width: 5%;
}

.general_block .info_test_table{
    font-size: 15px;
    width: 98%;
}

.general_block .info_test_table .test_info_td{
    font-size: 25px;
    text-align: justify;
}

.general_block .info_test_table .img_info_test{
    position: fixed;
    /*margin-left: 20%;*/
    margin-top: 0.5%;
    width: 640px;
    height: 285px;
}

.button_start_test{
    position: fixed;
    margin-left: 39%;
    margin-top: 3.5%;
    height: 15%;
    width: 30%;
    border: 1px solid black;
    background: whitesmoke;
    border-radius: 5px;
    font-size: 30px;

}

.button_start_test:hover {
    margin-top: 70px;

    /*Тень*/
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.button_start_test:active {
    background: white;
}

.general_block .test_table_0, .general_block .test_table_1, .general_block .test_table_2,
.general_block .test_table_3, .general_block .test_table_4{
    position: relative;
    font-size: 30px;
    margin-left: 25%;
    margin-top: 4%;
    border: 0px solid darkgray;
}

.general_block .test_table_0 td, .general_block .test_table_1 td, .general_block .test_table_2 td,
.general_block .test_table_3 td, .general_block .test_table_4 td{
    border: 2px solid whitesmoke;
}

.general_block .test_table_0 tr, .general_block .test_table_1 tr, .general_block .test_table_2 tr,
.general_block .test_table_3 tr, .general_block .test_table_4 tr{
    border: 2px solid black;
}

.btn_test_table{
    height: 120px;
    width: 120px;
    font-size: 25px;
}

._background-green{
    background: lightgreen;
}

._background-red{
    background: orangered;
}

.general_block .success_end_test{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.general_block .show_info{
    font-size: 30px;
    border-spacing: 10px;
    width: 98%;
    border: 2px solid darkgray;
    border-spacing: 0px;
    border-bottom: 0;
}

.general_block .show_info td{
    border-bottom: 2px solid darkgray;
    padding: 10px;
}

.general_block .show_info .td_info{
    width: 15%;
}

.general_block .show_info .td_right{
    border-right: 2px solid darkgray;
    text-align: right;
}

.general_block .show_info .td_last{
    text-align: right;
}

.general_block ._res_show_info{
    border: 0px;
}

.general_block ._res_show_info td{
    border-bottom: 0px;
}

.time_out{
    text-align: justify;
    width: 98%;
    margin-top: 15%;
}

.history_tests{
    padding: 20px;
}

.change_group{
    padding: 20px;
    margin-left: 84%;
    margin-top: 20px;
}
